body{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./image/cross.jpg);
    background-size: cover;
}

.img img{
    width: 100%;
    height: 558px;
}

.container{
    text-align: center;
    background: linear-gradient(purple,lightblue,rebeccapurple);
    width: 750px;
    margin: auto;
    position: relative;
    top: 100px;
    height: 400px;
    padding: 10px;
    border-radius: 25px;
}

.display{
    display: flex;
    gap: 100px;
    margin-top: 40px;
    margin-left: 20px;
}

.quotes{
    border-radius: 25px;
    text-align: justify;
    width: 400px;
    height: 250px;
    padding: 20px;
    background-color: white;
}
.quotes span{
    font-size: large;
    font-weight: bold;
}

.input div{
    margin-top: 10px;
}

.input input[type = text]{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.input label{
    font-size: large;
    font-weight: bold;
}

.input .book-btn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    background: linear-gradient(lightblue, blue, steelblue);
    font-weight: bold;
    color: white;
}

.input .book-btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px;
}

@media(max-width: 500px){
    body{
        background: url(./image/cross.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 903px;
    }
    .quotes{
        margin-top: 250px;
        width: 320px;
        position: relative;
        bottom: 100px;
    }
    .container{
        width: 360px;
        height: 750px;
    }
    .input{
        position: relative;
        left: 80px;
    }
    .heading{
        font-size: x-large;
    }
    .display{
        display: contents;
    }
    .input{
        margin-right: 170px;
        top: 50px;
    }
}